<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Event List</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/angular.min.js"></script>
    <script src="/js/angular-script.js"></script>
</head>
<style>
    body{
        background:white;
    }
</style>
<body ng-app="app" ng-controller="listController">
<div class="container-fluid" ng-init="getEvents()">
    <div class="row">
      <div class="col-sm-8 col-sm-push-2 col-xs-12">
        <h1 align="center">Admin Panel</h1>
        <h4 align="center">List of Events</h4>
        <h4 class="logout"><a href="/logout">Logout</a></h4>
        <br><br>
        <hr>
      </div>
        <div class="container-fluid">
        <div class="row">
            <div class="col-sm-8 col-xs-10 col-xs-push-1 col-sm-push-2">
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="eventSearch" name="eventSearch" placeholder="Search for Events">
                </div>
                <br>
                <br>
                <div class="container-fluid">
                  <div class="row">
                      <table class="table table-bordered event-list-table">
                      <thead>
                          <tr>
                          <th>#</th>
                          <th>Event Name</th>
                          <th>Chapter/Club Name</th>
                          <th>Event Date</th>
                          <th>Reviewed Status</th>
                          <th>Faculty Coordinator Apporval</th>
                          <th>Final Status</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr ng-repeat="event in events | filter:eventSearch">
                          <th scope="row">{{$index + 1}}</th>
                          <td><a ng-href="/events/{{event._id}}">{{event.eventName}}</a></td>
                          <td>{{event.clubOrChapter}}</td>
                          <td>{{formatDate(event.startDate)}}</td>
                          <td>
                              Reviewed By:
                              <span ng-if="event.approvals.length==0"><br>--none--</span>
                              <ul ng-repeat="user in event.approvals">
                                  <li ng-if="user.approved">
                                      {{user.by}}
                                  </li>
                              </ul>
                          </td>
                          <td ng-class="{'pass':event.fcApproval=='approved', 'reject':event.fcApproval=='rejected', 'pending':event.fcApproval=='pending'}">
                              <span ng-if="event.fcApproval=='approved'">Approved</span><span ng-if="event.fcApproval=='pending'">Pending</span><span ng-if="event.fcApproval=='rejected'">Rejected</span>
                          </td>
                          <td ng-class="{'pass':event.approvalStatus=='approved', 'reject':event.approvalStatus=='rejected', 'pending': event.approvalStatus=='pending'}">
                              <span ng-if="event.approvalStatus=='approved'">Approved</span><span ng-if="event.approvalStatus=='pending'">Pending</span><span ng-if="event.approvalStatus=='rejected'">Rejected</span>
                          </td>
                          </tr>
                      </tbody>
                      </table>
                  </div>
              </div>
            </div>
        </div>
        </div>
    </div>
</div>
</body>
</html>
